@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Domain.Models.Note>

<div class="text-center">
    <table>
        @foreach (var data in Model)
        {
            <tr>
                <td>
                    @data.title
                </td>
                <td>
                    @data.text
                </td>
                <td>
                    @data.CreateDate
                </td>
            </tr>
        }
    </table>
</div>
