@{
    ViewData["Title"] = "You Page";
}
@model IEnumerable<Domain.Models.Note>

<div class="text-center">
    <table>
        @foreach (var data in Model)
        {
            <tr>
                <td>
                    @data.title
                </td>
                <td>
                    @data.text
                </td>
                <td>
                    @data.CreateDate
                </td>
                <td>
                    <form method="post" action="~/Home/DeleteNote">
                        <input type="text" name="guid" value="@data.id" hidden="hidden" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
